.employees{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    transition: background-color 0.3s ease-in-out;
}
button{
    padding: 5px 10px;
    background-color:rgb(205, 109, 109);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}